h1 {
    font-size: large;
    color: brown;
}

body {
    background: cornsilk;
    margin-left: 20px;
    margin-right: 20px;
    width: 800px;
    height: 400px;
}

header {
    background: rgb(117, 113, 94);
    margin-left: 20px;
    margin-right: 20px;
    width: 800px;
    height: 150px;
}